<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>Get user to initiate connection to Metamask</h2>
    <button class="enableEthereumButton">Connect to Metamask</button>
    <h3>Account: <span class="showAccount"></span></h3>
    <h3>Chain ID: <span class="showChainId"></span></h3>
    <script src="javascripts/bundle.js"></script>
  </body>
</html>
